<div class="container" *ngIf="tarea && horas">
  <h1 class="my-2">{{tarea.name}}</h1>
  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Horas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of horas; let i=index">
        <th scope="row">{{i + 1}}</th>
        <td>{{h.name}}</td>
        <td>
          <input type="number" class="form-control" placeholder="0" [value]="h.hours" [(ngModel)]="h.hours">
        </td>
      </tr>
      <tr class="table-light" style="cursor: pointer;" (click)="asignar()">
        <td colspan="3">
          Asignar horas
        </td>
      </tr>
    </tbody>
  </table>
</div>
