<div class="container">
  <h1 class="my-3">Gestiones</h1>
  <table class="table">
    <thead>
      <tr style="text-align: center;">
        <th scope="col">#</th>
        <th scope="col">
          Nombre&nbsp;
          <span [ngSwitch]="ordenar">
            <i *ngSwitchCase="0" class="bi bi-arrow-down-up" (click)="ordenar = 1; sort();" style="cursor:pointer;"></i>
            <i *ngSwitchCase="1" class="bi bi-arrow-down" (click)="ordenar = 2; sort();" style="cursor:pointer;"></i>
            <i *ngSwitchCase="2" class="bi bi-arrow-up" (click)="ordenar = 0; sort();" style="cursor:pointer;"></i>
          </span>
        </th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="semestres && semestres.length>0; else elseTemplate">
        <ng-container *ngFor="let semestre of showSemestres; let i=index">
          <tr style="text-align: center;" *ngIf="!semestre.finished">
            <!-- <div> -->
            <th scope="row">{{i + 1}}</th>
            <td>{{semestre.name}}</td>
            <td><i class="bi bi-pencil-square" (click)="editar(semestre._id)" style="cursor: pointer;"></i></td>
            <td><i class="bi bi-trash" (click)="remove(semestre._id)" style="cursor: pointer;"></i></td>
            <!-- </div> -->
          </tr>
        </ng-container>
      </ng-container>
      <ng-template #elseTemplate>
        <tr style="text-align: center;">
          <td colspan="4">No hay gestiones</td>
        </tr>
      </ng-template>
      <tr class="table-light" (click)="addSemestre()" style="text-align: center; cursor: pointer;">
        <td colspan="4">Crear gestión</td>
      </tr>
    </tbody>
  </table>
</div>
