<div class="container">
  <h1 class="my-3">Becarios</h1>
  <div class="input-group my-3">
    <label class="btn border border-end-0 rounded-start border-dark" for="inputGroupSelect01"
      style="cursor:default">Gestión:</label>
    <div class="btn-group">
      <span class="btn border border-start-0 rounded-0 border-dark" style="cursor:default">
        {{selected}}
      </span>

      <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
        aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <div *ngIf="semestres.length>0">
          <li *ngFor="let s of semestres; let si=index">
            <a class="dropdown-item" href="#" (click)="sort(s)">{{s.name}}</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
        </div>
        <li><a class="dropdown-item" href="#" (click)="sort({_id:0})">Todos</a></li>
      </ul>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr style="text-align: center;">
        <th scope="col">#</th>
        <th scope="col">
          Nombre&nbsp;
          <span [ngSwitch]="ordenar.nombre">
            <i *ngSwitchCase="0" class="bi bi-arrow-down-up"
              (click)="ordenar.nombre = 1; sort({_id:selectedid,name:selected},0);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="1" class="bi bi-arrow-down"
              (click)="ordenar.nombre = 2; sort({_id:selectedid,name:selected},0);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="2" class="bi bi-arrow-up"
              (click)="ordenar.nombre = 0; sort({_id:selectedid,name:selected},0);" style="cursor:pointer;"></i>
          </span>
        </th>
        <th scope="col">
          Horas faltantes&nbsp;
          <span [ngSwitch]="ordenar.faltantes">
            <i *ngSwitchCase="0" class="bi bi-arrow-down-up"
              (click)="ordenar.faltantes = 1; sort({_id:selectedid,name:selected},1);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="1" class="bi bi-arrow-down"
              (click)="ordenar.faltantes = 2; sort({_id:selectedid,name:selected},1);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="2" class="bi bi-arrow-up"
              (click)="ordenar.faltantes = 0; sort({_id:selectedid,name:selected},1);" style="cursor:pointer;"></i>
          </span>
        </th>
        <th scope="col">
          Horas asignadas&nbsp;
          <span [ngSwitch]="ordenar.asignadas">
            <i *ngSwitchCase="0" class="bi bi-arrow-down-up"
              (click)="ordenar.asignadas = 1; sort({_id:selectedid,name:selected},2);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="1" class="bi bi-arrow-down"
              (click)="ordenar.asignadas = 2; sort({_id:selectedid,name:selected},2);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="2" class="bi bi-arrow-up"
              (click)="ordenar.asignadas = 0; sort({_id:selectedid,name:selected},2);" style="cursor:pointer;"></i>
          </span>
        </th>
        <th scope="col">
          Horas totales&nbsp;
          <span [ngSwitch]="ordenar.totales">
            <i *ngSwitchCase="0" class="bi bi-arrow-down-up"
              (click)="ordenar.totales = 1; sort({_id:selectedid,name:selected},3)" style="cursor:pointer;"></i>
            <i *ngSwitchCase="1" class="bi bi-arrow-down"
              (click)="ordenar.totales = 2; sort({_id:selectedid,name:selected},3);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="2" class="bi bi-arrow-up"
              (click)="ordenar.totales = 0; sort({_id:selectedid,name:selected},3);" style="cursor:pointer;"></i>
          </span>
        </th>
        <th scope="col">
          Horas cumplidas&nbsp;
          <span [ngSwitch]="ordenar.cumplidas">
            <i *ngSwitchCase="0" class="bi bi-arrow-down-up"
              (click)="ordenar.cumplidas = 1; sort({_id:selectedid,name:selected},4);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="1" class="bi bi-arrow-down"
              (click)="ordenar.cumplidas = 2; sort({_id:selectedid,name:selected},4);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="2" class="bi bi-arrow-up"
              (click)="ordenar.cumplidas = 0; sort({_id:selectedid,name:selected},4);" style="cursor:pointer;"></i>
          </span>
        </th>
        <th scope="col">
          Horas en curso&nbsp;
          <span [ngSwitch]="ordenar.curso">
            <i *ngSwitchCase="0" class="bi bi-arrow-down-up"
              (click)="ordenar.curso = 1; sort({_id:selectedid,name:selected},5);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="1" class="bi bi-arrow-down"
              (click)="ordenar.curso = 2; sort({_id:selectedid,name:selected},5);" style="cursor:pointer;"></i>
            <i *ngSwitchCase="2" class="bi bi-arrow-up"
              (click)="ordenar.curso = 0; sort({_id:selectedid,name:selected},5);" style="cursor:pointer;"></i>
          </span>
        </th>
        <th scope="col" *ngIf="this.selected==='Todos'">Gestión</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="becarios && becarios.length>0; else elseTemplate">
        <tr style="text-align: center;" *ngFor="let becario of showBecarios; let i=index">
          <th scope="row">{{i + 1}}</th>
          <td>{{becario.name}}</td>
          <td>{{becario.faltantes}}</td>
          <td>{{becario.asignadas}}</td>
          <td>{{becario.totales}}</td>
          <td>{{becario.cumplidas}}</td>
          <td>{{becario.curso}}</td>
          <!-- <td>{{becario.asignadas - becario.curso - becario.cumplidas}}</td> -->
          <td *ngIf="this.selected==='Todos'">{{becario.semester}}</td>
          <td><i class="bi bi-pencil-square" (click)="editar(becario._id)" style="cursor: pointer;"></i></td>
          <td><i class="bi bi-trash" (click)="remove(becario._id)" style="cursor: pointer;"></i></td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <td colspan="9" style="text-align: center;">
          <span>No hay becarios</span>
        </td>
      </ng-template>

      <tr class="table-light" style="cursor: pointer;" (click)="addBecario()">
        <ng-container *ngIf="this.selected==='Todos'; else elseTemplate2">
          <td colspan="10" style="text-align: center;">
            <span>Crear becario</span>
          </td>
        </ng-container>
        <ng-template #elseTemplate2>
          <td colspan="9" style="text-align: center;">
            <span>Crear becario</span>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
