<div class="container">
  <h1 class="my-3">Tareas</h1>

  <div class="row">
    <div class="col-3">
      <div class="input-group mb-3">
        <label class="btn border border-end-0 rounded-start border-dark" for="inputGroupSelect01"
          style="cursor:default">Gestión:</label>
        <div class="btn-group">
          <span class="btn border border-start-0 rounded-0 border-dark" style="cursor:default">
            {{semestre ? semestre : 'Todos'}}
          </span>

          <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <div *ngIf="semestres.length > 0">
              <li *ngFor="let s of semestres; let si=index">
                <a class="dropdown-item" (click)="semestre = s.name" style="cursor: pointer;">{{s.name}}</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </div>
            <li><a class="dropdown-item" (click)="semestre = null" style="cursor: pointer;">Todos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <label class="btn border border-end-0 rounded-start border-dark" style="cursor:default">
          Mostrar finalizados?:
        </label>
        <button class="btn btn-outline-secondary" type="button" (click)="hidden = !hidden;">
          {{hidden ? 'No' : 'Si'}}
        </button>
      </div>
    </div>
  </div>



  <table class="table">
    <thead>
      <tr style="text-align: center;">
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Periodo</th>
        <th scope="col">Gestión</th>
        <th scope="col">Horas</th>
        <th scope="col">Becarios</th>
        <th scope="col">Terminar</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="showTareas && showTareas.length > 0; else elseTemplate;">
        <ng-container *ngFor="let tarea of showTareas; let i = index;">
          <tr style="text-align: center;"
            *ngIf="(!hidden || !tarea.finished) && (semestre === null || tarea.semester === semestre);">
            <!-- <div> -->
            <th scope="row">{{i + 1}}</th>
            <td>{{tarea.name}}</td>
            <td>{{tarea.bdate | date}} - {{tarea.edate | date}}</td>
            <td>{{(tarea.semester)}}</td>
            <td>{{tarea.hours}}</td>
            <td>
              <span data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-tarea="{{i}}" (click)="selected = i;"
                style="cursor: pointer;">
                <i class="bi bi-info-circle"></i>
              </span>
            </td>
            <td>
              <ng-container *ngIf="tarea.finished; else elseTemplate2">
                <span><i class="bi bi-check-square"></i></span>
              </ng-container>
              <ng-template #elseTemplate2>
                <a [routerLink]="[ '/terminar', tarea._id ]" style="color:black;"><i
                    class="bi bi-box-arrow-right"></i></a>
              </ng-template>
            </td>
            <td><i class="bi bi-pencil-square" (click)="editar(tarea._id)" style="cursor: pointer;"></i></td>
            <td><i class="bi bi-trash" (click)="remove(tarea._id)" style="cursor: pointer;"></i></td>
            <!-- </div> -->
          </tr>
        </ng-container>
        <tr style="text-align: center;" *ngIf="showTareas.length === terminadas && hidden;">
          <td colspan="9">No hay tareas sin terminar</td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <tr style="text-align: center;">
          <td colspan="9">No hay tareas</td>
        </tr>
      </ng-template>
      <tr class="table-light" (click)="addTarea()" style="text-align: center; cursor: pointer;">
        <td colspan="9">Crear tarea</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  *ngIf="tareas && selected !== undefined">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Becarios en "{{tareas[this.selected].name}}"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3 align-items-center" *ngFor="let b of tareas[this.selected].becarios; let sbi=index">
          <div class="col-auto">
            <label for="b{{sbi}}" class="col-form-label">Nombre:</label>
          </div>
          <div class="col-auto">
            <input type="text" id="b{{sbi}}" class="form-control-plaintext" aria-describedby="passwordHelpInline"
              readonly [value]="becarios?getName(b):''">
          </div>
          <div class="col-auto">
            <i class="bi bi-x-circle" style="cursor: pointer;" (click)="removeTarea(b)"></i>
          </div>
        </div>
        <div class="row g-3 align-items-end">
          <div class="col-auto">
            <button class="btn btn-outline-dark" (click)="tareaABecario()">Asignar</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
